@model CryptoDataWebScraper.Models.Ledger

@{
    ViewBag.Title = "ViewSnaps";

}

<h2>Snap Table</h2>

<div>
    <table>

        <dt>SnapTime</dt>
        <dd>@Model.Time</dd>
        <dt>@Model.CryptoCoins</dt>

    </table>
</div>
